{% extends "master.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container mt-5 mb-5">
<h1>HOW WE USE INFORMATION WE COLLECT FROM COOKIES AND SIMILAR TECHNOLOGIES</h1>

<p>
We use the information we collect through automated means to allow you access to our Services and for the following general purposes:

Protect our Networks: Cookies and similar technologies help us identify and prevent threats to our sites. They are necessary to protect your information and our business from outside threats.
Allow you to Access our Services: Cookies and similar technologies permit your connection to our websites: our servers receive and record information about your Device and browser, possibly including your IP address, browser type, other software or hardware information and your geographic location.
Access Usage of Services: We use information about your usage of our Services, such as pages you have visited, content you have viewed, search queries you have run, and advertisements you have seen or interacted with to assess how our Services are used.
Provide eCommerce Functionality: Cookies and similar technologies help us provide functionality that you need to navigate our sites, select products and services and purchase them.
Provide Relevant Content: The content on our websites and in our communications with you may be adjusted depending on what we know about the content, products and services that you like. This means we can highlight content and articles that we believe will be of interest to you. We provide personalization by using cookies, IP addresses, web beacons, URL tracking and mobile app settings.
Selling Third Party Advertising: We sell space on our websites and apps to advertisers. The advertisements they display on our websites will often contain cookies. Our advertisers may use cookies or similar technologies to provide advertisements that they believe are relevant to you. They may use browsing data obtained to restrict the number of times you see particular advertisements (frequency capping). You may also see advertisements from these advertisers on other websites you visit.In addition, third parties that support our services by serving advertisements or providing other services, such as allowing you to share content or tracking aggregate service usage, may also use cookies and other technologies to collect information relevant to the provision of those services.
</p>
</div>

{% endblock %}

