.header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header p {
    margin: 5px 0 20px;
    color: #555;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.filter {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.filter:hover {
    background-color: #eaeaea;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;


}

/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    
}

.product img {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease;
    position: relative;
    overflow: hidden; /* Prevents images from overflowing */
    
}

.product img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product:hover img.hover {
    opacity: 1;
}

.product:hover img.default {
    opacity: 0;
}

.product h3 {
    font-size: 16px;
    margin: 10px;
    color: #333;
}

.product p {
    color: #777;
    margin: 5px;
}

.product .price {
    font-weight: bold;
    margin: 10px 0;
    color: #000;
}

.product .actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.product .actions button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
}

.product .actions button:hover {
    background-color: #0056b3;
}

*::before,
*::after {
    box-sizing: border-box;
}
