/* General Styles */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* About Section Styling */
#about, #about1 {
    background-color: #ffffff;
    color: #333;
    padding: 3em 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.about-image, .about-image1 {
    flex: 1;
    flex-shrink: 1;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.about-image img, .about-image1 img {
    width: 100%;
    height: auto;
    border: 10px solid white;
}

.about-text, .about-text1 {
    flex: 1;
    max-width: 50%;
}

.about-text h2, .about-text1 h2 {
    color: #4CAF50;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

.about-text h3, .about-text1 h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.9em;
}

.about-text p, .about-text1 p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.2em;
}

.about-text .btn-link, .about-text1 .btn-link {
    border-bottom: 1px solid #4CAF50;
    color: #4CAF50;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.about-text .btn-link:hover, .about-text1 .btn-link:hover {
    border-color: #2E7D32;
    color: #2E7D32;
}

/* Banner Section */
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/sewing_b.png') no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    position: relative;
    text-align: center;

}





/* Contact Section */
#contact {
    background-color: #f9f9f9;
    color: #333;
    padding: 3em 10%;
    margin-bottom: 15em;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

.contact-details {
    flex: 1;
    max-width: 48%;
}

.contact-details a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

.contact-form {
    flex: 1;
    max-width: 48%;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.625em;
    width: 100%;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 0.5em;
    display: block;
}

.contact-form textarea {
    resize: none;
}

.contact-form .submit-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    /* padding: 0.625em 1.25em; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
    background-color: #388E3C;
}

/* Products Section */
#products {
    background-color: #f8f9f7;
    padding: 3em 10%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
    justify-content: space-around;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.product img.hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.product:hover img.default {
    display: none;
}

.product:hover img.hover {
    display: block;
   
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .product-info {
    padding: 1em;
}

.product-card h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.product-card p {
    font-size: 0.9em;
    color: #555;
    line-height: 1.4;
}



